$violet_grad: linear-gradient(99.69deg, #B41BAB 5.74%, #8F00FF 91.41%);
$blue_grad: linear-gradient(92.58deg, #0D1D4A 11.07%, #8F00FF 94.42%);
$button_violet_grad: linear-gradient(92.58deg, #B41BAB 11.07%, #8F00FF 94.42%);
$yellow: #FFC843;